# Node
node_modules/
npm-debug.log*
package-lock.json

# Environment files
.env

# Logs
logs/
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# OneDrive/temp files
~$*
*.tmp

# Build outputs
dist/
build/

# Ignore coverage
coverage/
